* {
    box-sizing: border-box;
}
body{
    margin: 0;
}

#main_div{
    width: 100%;
    background-color: #F3E7d1;
    padding: 5% 10%;
    
}

#first_block{
    background-image: url("./images/first_block_image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#our_team{  
    font-size: 80px;
    color: white;
    margin: 0;
}

#text{
    position: absolute;
    left: 40%;
    top: 45%;
    width: 350px;
}

#box_under_our_team{  
    border: 5px solid rgb(255, 255, 255);
    height: 30px;
    text-align: center;
    color: white;
}

.general-blocks{
    background-color: white;
    position: relative;
    height: 750px;
    margin-top: 3%;
}

#ana-park{
    Font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#second-block-text{
    position: absolute;
    text-align: justify;
    width: 50%;
    padding-left: 5%;
    padding-top: 12%;
    height: 750px;
}

#second-block-image{
    position: absolute;
    background-image: url("./images/ana-park.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    height: 750px;
    width: 50%;
    left: 50%;
    padding: 5%;
}

#second-block-inner-image{
    background-image: url("./images/ana-park.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;  
}

div.hover-transition{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 55%;
    padding-left: 41%;
    opacity: 0;
    font-size: 60px;
    color: white;
    z-index: 2;
}

div.hover-transition:hover{
    opacity: 1;
}

a:hover{
    color: blue;
}

#second-block-text div{
    position: absolute;
    left: 95%;
    width: 4%;
    top: 70%;
}

#second-block-text p{
    text-align: justify;
    width: 350px

}

#image-3rd-block{
    width: 50%;
    height: 100%;
    padding: 8%;
    position: absolute;
    
}

#text-3rd-block{
    position: absolute;
    background-color: #F1EDE2;
    width: 50%;
    height: 100%;
    left: 50%;
    padding-top: 8%;
    padding-left: 8%;
    
}

#text-3rd-block p{
    font-size: 19px;
    text-align: justify;
    width: 360px;
}

.social-media-box{
    position: absolute;
    left: 95%;
    width: 4%;
    top: 70%;
    font-size: 30px;
    opacity: 0.5; 
}
.social-media-box a{
    text-decoration: none;
    color: black;
}

.bars{
    width: 380px;
    height: 20px;
    background-color: #A9A4A5;
    text-align: right;
    position: relative;
}

.inside-bar{
    background-color: #ABC3C0;
    text-align: right;
    position: absolute;
    height: 100%;
    top: 0%;
}

.bar-title{
    position: absolute;
    width: 40px;
}

#real-image-3rd-block{
    background-image: url("./images/goya-park.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

#image-4th-block{
    background-image: url("./images/s.stiney.jpg");
    position: absolute;
    height: 100%;
    width: 50%;
    background-repeat: no-repeat;
    margin-top: 7%;
    margin-left: 5%;
}

#s-stiney h1{
    font-size: 120px;
    position: absolute;
    margin-top: 12%;
    margin-left: 34%;
}

#text-4th-block{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    padding-top: 14%;
    padding-left: 17%;
}

#text-4th-block p{
    text-align: justify;
    font-size: 19px;
    width: 300px;
}

.larg-icon{
    width: 120px;
    font-size: 60px;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 57%;
}

.larg-icon a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

.larg-icon p{
    position: absolute
}
